body{
    font-family:"Comic Sans MS";
    background-color: #FEFCDA;
}
div{
    background-color: white;
}

p:first-child{
    color: red;
    font-size: 16px;
    font-style: italic;
}
p{
    font-size: 12px;
}
p::first-letter{
    font-size: 18px;
    color: red;
}

table, tr, th, td{
    border: 1px solid black;
}