body{
    font-family:"Comic Sans MS";
}

#principal {
    position:absolute;
    left:100px;
    top:55px;
    border-bottom:2px solid black;
    border-top:2px solid black;
    border-left:none;
    border-right:none;
} 

p b{
    color: red;
}

ol li b{
    color: blue;
    font-style: italic;
    font-weight: bold;
}
ol ul li{
    color: black;
    font-style: normal;
    font-weight: bold;
}